<!-- views/pages/about.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>

<main>
<div id="container">
<div align="center">
  <img src="https://outsteps.org/gallery_gen/ec160e0ffcd0ab36fe98c763eafa20bb_948x440.jpg" width="600px" class="img-rounded" alt="Great Lakes">
</div>
<p>
Urban areas, and their rural watersheds, in the Lower Great Lakes (LGL) Region face present and future LGL-wide sustainability and resilience challenges. For instance, it is forecasted that the LGL Region will be adversely impacted by climate change and extreme weather events (<a href="https://nca2018.globalchange.gov/chapter/18/">Dupigny-Giroux et al, ll (2018): Northeast. In Impacts, Risks, and Adaptation in the United States: Fourth National Climate Assessment, Volume II</a>). These trends and events could potentially both impact the functionality or even disrupt the natural, social and infrastructure systems that support urban sustainability, and place direct strains on the resilience of urban and rural communities.
</p>
<p>
Meeting the LGL-wide sustainability and resilience challenges requires interdisciplinary research and testing of alternatives. Consequently, the <a href="https://www.buffalo.edu/">University at Buffalo (UB)</a> is convening a workshop for researchers, sustainability and resilience officers, community stakeholders and student representatives for a three day, invitation only, workshop at the center of the LGL Region, in Buffalo, New York. By bringing together researchers, practicioners and stakeholders from around the LGL Region, the <a href="https://www.nsf.gov/awardsearch/showAward?AWD_ID=1929917&amp;HistoricalAwards=false">Organizing Urban Transects for a Sustainable Transformation of Economic Partnerships (OUTSTEP)</a> workshop, funded by a grant from the National Science Foundation, will evaluate the assets, opportunities and barriers available to create a holistically connected urban and rural LGL Region that is an equitable climate refuge.
</p>
<p>
The OUTSTEP workshop will leverage the <a href="http://peoplesresilience.org/what-is-peoples">7 dimensions of the PEOPLES Resilience Framework</a> and the <a href="https://sustainabledevelopment.un.org/?menu=1300">17 United Nations’ Sustainable Development Goals</a> as well as existing community stakeholder initiatives such as the Buffalo <a href="https://ppgbuffalo.org/">Partnership for the Public Good (PPG)</a>, the <a href="http://www2.erie.gov/lepc/">Erie County Local Emergency Planning Committee (LEPC)</a> or <a href="http://www.buffalo.edu/sustainability.html">UB Sustainability</a> for the workshop’s guiding priciples. This 1st OUTSTEP Workshop will serve to facilitate intense interactions between practicioners, community stakeholders and researchers from eight universities along the LGL (listed as the water flows): <a href="https://umich.edu/">University of Michigan</a>, <a href="https://www.utoledo.edu/">University of Toledo</a>, <a href="https://www.csuohio.edu/">Cleveland State University</a>, <a href="https://behrend.psu.edu/">Penn State at Behrend</a>, <a href="https://www.buffalo.edu/">University at Buffalo</a>, <a href="https://www.esf.edu/">SUNY ESF</a>, <a href="https://www.oswego.edu/">SUNY Oswego</a>, and <a href="https://www.clarkson.edu/">Clarkson University</a>. 
</p>
</div>
<div class="container" padding="4px">
<div class="panel panel-default">
  <div class="panel-heading">Contact Info</div>
  <div class="panel-body">
   <p>Chris S. Renschler</p>
   <p>Department of Geography</p>
   <p>University at Buffalo</p>
   <p>116 Wilkeson Quad, Buffalo NY 14261, USA</p>
   <p>Email: rensch@buffalo.edu</p> 
  </div>
</div>
</div>
</main>

<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>
